.modal#ticketModal
    .container-ticket
        h1.ticket-film-name Minecraft
        p.ticket-order Ticket order

        .name-enter
            label Enter Your Name:
            input.name(type="text" name="name" alt="name")

        .pay-type
            button.ticket-confirm.ticket-active Google Pay
            button.ticket-confirm Apple Pay
            button.ticket-confirm Eban

        ul
            li.ticket-key Ticket price:
            li.ticket-value 100 hr

        button.ticket-confirm Confirm