.modal#ticketModal
    .container-ticket
        h1.ticket-film-name.title
        p.ticket-order Ticket order

        .name-enter
            label Enter Your Name:
            input.name(type="text" name="name" alt="name")

        .pay-type
            label(for="payment-method") Select Payment Method:
            select#payment-method(name="method")
                option(value="Google Pay") Google Pay
                option(value="Apple Pay") Apple Pay
                option(value="IBAN") IBAN
        ul
            li.ticket-key Ticket price:
            li.ticket-value#price
            li.ticket-key Seat number:
            li.ticket-value#seat

        button.ticket-confirm Confirm

#overlay