doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Адмін-панель | Кінотеатр
        //- якщо є окремий CSS
        link(rel="stylesheet", href="/styles/admin.css")
    body
        header
            h1 Адмін-панель Кінотеатру

        nav
            a(href="/admin/movies") Фільми
            a(href="/admin/sessions") Сеанси
            a(href="/admin/halls") Зали
            a(href="/logout") Вийти

        main
            block content