doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Кінотеатр
        link(rel='stylesheet', href='../stylesheets/style.css')
    body
        header
            h1 Кінотеатр "BobryPlex"
            nav
                a(href='/') Головна
                a(href='/sessions') Сеанси
        main
            block content
        footer
            p © 2025. Всі права захищені.
