doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title BobryPlex
        block styles
    body
        header
            a(href="/")
                button.main-btn BobryPlex
            nav
                a(href="#") LogIn

        block content
        block scripts
