doctype html
html(lang="uk")
    head
        title= title
    body
        h1= title
        ul
            li: a(href="/users/1") Тараненко Артем
            li: a(href="/users/2") Навроцький Максим
            li: a(href="/users/3") Суліма Лілія
            li: a(href="/users/4") Долинко Олександр
        a(href="/static.html") На головну
