doctype html
html(lang="uk")
    head
        title= title
    body
        h1= title
        ul
            li: a(href="/users/1") Ім'я Учасника 1
            li: a(href="/users/2") Ім'я Учасника 2
            li: a(href="/users/3") Ім'я Учасника 3
            li: a(href="/users/4") Ім'я Учасника 4
        a(href="/") На головну
